@CHARSET "utf-8";

p.sub {
	font-weight: bold;
}

p.path_box {
	margin: 5px;
}

li input.directory_path {
	width: 450px;
}

ul {
	margin: 0;
	padding: 0;
}

.comment {
	font-size: small;
}

p input.security_addr {
	width: 350px;
}

div.error_msg {
	font-size: small;
	color: red;
}

li input.directory {
	width: 450px;
}